@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1607579344021'); /* IE9 */
  src: url('iconfont.eot?t=1607579344021#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAABtYAAsAAAAAM/wAABsHAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCIEgrPSL5VATYCJAOBRAtkAAQgBYRtB4UzG1wqZYaYxwFgsxkjqkRpFGWCEmX//ymBGzLhNez5cggulSw0TTXyFLvz1mThCPJpdhjDZ8Gm4vDjWd/yDRL9cc16kEa4qM2kYsAflh98I8hEnjqVM79LEZOaNuE2vTLuv+O7za6NS3GzoZT5A++2/3MH7Atc3VdQAW1JL1cFjSe4EjVDEy3sKb0EyhI3aUvSBm1HQ1taW2zYNhtPG1Nbw768gW9YX/KtCc8Dx/JdZC0v1kQDntgUUuUD72CcbXuoDdZDOoztIdbft0KEBqUvUSbpRip66afumAwbzASAbzPz8945xXqLBqfS09v9Tz0Hj135APElcWFQz+DqSaUARyYC5svtM0EqE7QievKT+Ek0UhOZ6THT+kggsPz3foiuGKwCq96RqhyuhUq3pve00PIZh3QYj3AIqRCGhD3StWbAZ8FXkmBy1qLaUZpZ0m5aXN+1/C8qiP+4kQeW+AJYE/R7k0RNoEkQABaVFdKR4v29s7Rd9rQK2Z3LyMy1torKnVp3sSr++7C3//NB1oe9ADihzGXAAZQiJ8dc9AqdI7Dnmb3LrBPrvFdZquTKc6VdhTh9Lio3TWsIV8tM4v5zgyIWesim7aj5GE3XIJZRRuKI5d/fAQIAbAgkg8QnpmYCE3C4XiEAgCxZZJoPzMAMeEaLAHOiJ9ziJFIHNGCiG9BeALah3yMfwFuBCYACDYPrJ40xIR+U331HMav7MQ9bA9vKWwBg/QSAAYAMAA6A3EhcrwL2OcjQyE7al6EOAJi3MxTgO+Q75jvq1qIhvSgj0/kTns6gqDgdnZxdPHj05NmLlbWNrZ29gyvXbt25sbA0MTUzV5aqZjLrhsVqszsMDI2MlVCoHq7HNii+O9sLgS6KCFOiIYB74uJIPJyIjzMJcCEhHkiERxLjiSR4JmnHSjLAiuRYkwIbUmJLKuxIjT1pcCBtESEdFEgPhe0MUCAj4IZMWJAZS7JgQlZMyYYZ2WFO9igjB1SQI6rICTXkjDpyQQO5oonc0ELuaCMPdJAnusgLPeSNPvlgQL4Ykh9G5I8xoTF8TNH1OsuHr/Zf/9N1/T8t3QRzU/CFbcK7x9UoYiR1hURzYpxgmrFhObRo9hkPF7IT23DxSbcKIcH3pThLoDxq4UspKihAVDTnT5ZvX8rKMATMaYSqx4IkSSUriau2Deo2JtxSz2DXMJAAUVXW1Im5tXeDYaAsLSvDGFt1mj9b5swLGW2KW5kzZLv7aI8X/29XyYp2Hg+MQjbsuApy/RfA3PpA/A3yH9T/sfoXSjBzX2IwyvVjG83sR/3CeZnauYyJQnUxP75Yp8Il6Cz357tKfeFMhaAMDd7+ZA8jk/bBGvD3Dqxeb5AegIOThxOJujIHOuIksI/EufQDPEkxgld33jIbfgp0mLFYMyzcJ9PoraeY8SH94YPvyp/iWFDIj7GbNBMGTHnDoezcQrpm6gjzH23hUKye4VTv4U8+U4t3SPw96QGGCCK+NbJAowQgx9guA0SCYoEHeFeCD/IwyD+Ivoiu5uu/Bm9PHEiddDJZOZI5Xa69QgcG+lDplZurqrHKYAoACZHPEBFnHTgDFKakc1nmRXmRJMdPNn+ScGoypFRgOB+UqBMIZ9mp778hRwHPZd+nF0yCCE6Bi3TPyXDg2gL5XY/zFDumNX06DPd9YdNz33tVCn2OTQiAzM0YP1/oHF+f6hXYd3UGvbZDKegpCcGh+XLF83Bhmt2IjRUJi5FhBqhHX7czbpOVVnTw8qvplMPjuVZT7V+U4E+dv6ybU7li0wVILMvovfiumPhCHnthODF4RyieWuZg5nGi9QbMcgzLTAoVTptXLhUGMJlmKaWPu/nyTn3mwbLXc1xvl2oRAqRErVl1kVsWSRP8exmfXEJkkI9ujCkT+NxjXyeYFEh5nCss5z9tmFfxK09T6kjAKdErxddX6zDj8SClSGnWWt0slU9a0dq+IHWlnoi2gqXQxcyBWFkWKHu01AiWZkc5HrOnjctX2bHSW7AveKgGKzx4KIZGM324SNp0cpU09aXM4iHWB8JJyFrr6GKrHC7xtIeLAA0WDoPxFDGcFVojeeQI1rcwJpVq2yKARLTfVcIB9R4acIvFsatJDMNIxicvS9CLwaplAM/VP6i0J44LKmmubitdbXNlUFxr7jlDtbyI6269pYC/1D4LH3us/QxiREhV9DjkIce8IYW06hz6uPOYYvYdy4PUEy1jpe+cDpY4V5O5Zka2+8KDgq8v/WJlvvCUAIpUbTtJltgH7NIT0l6s/s1roXT0AjEPtTA93KX/hkToXXFXYuwrVspntdTj7gHae8+cOHbHqu8MZjhLGHNiBmxTZpOnOtA/GCvHsndXOqO74FAc+HlzKGurNBmExPlMmvO63aKZjYhWHtAakMyZ6zjA8jRlpXHP3VRqfoZqpn6Dm29Rih9Q/sHJvP/l19nPiqlo+QXSDidkgMTHKhzgtWqLdqi756+j1gPnDEKadmAyvZjnf5+/Mjta/qd882bhhZI+FfPMt1g7hweFKtFlCnGlDckGAa0wABmRqtabMx1Zke89uctVXX4B6Qj5qe0Te09Q3D5gzLhYuZnP0wv3ygNRQwjE2+q7+/vFkQksI8dEfm7ocQA7d+7Dierm+rHJZ280vJ5UsYeJSejQPVAcSbepPdooERrWebRmU6l+eNoEngAK1+s/GIxmLaPJ81s6fzdKjfIHzzaeH0X2I9HuvnRZt+86v/sE4Az7g2RMNIARoBmggz5H3b1ZDNwvN2lAZNWCBu71lTvtyO9t1Xos7sD6iz4ux99HG7juD7ANhxTvmyloZDmiJ/PIO8VWeNPgd3ouPMBRHafVJiQtmjYCqURF3oMQhWGTcizlNYrjyqp9tFyFhwzYM+yG8WAAC2dnh9/akJn8+JNNz11sIghlrDWM5v01mxA+wN7flcc9QArtCKfu8VCZKewDkdib1ThvrDno02NHhSgdq7hHR57PvRBZiw/FHx/JmB2Psz+zA2guOhi7c+0h/xRVaj3aJtwW8IBl13W2rTdtQIbsQKN6itYyBrq5aQw6HsDh+rzWILQmFFUnZFpHD5oElXYVjNlqDdh9Q6UCFH6Vp06v4oA9WdWT1MfVIQn7aKLxKWf3rtSaI/CIqNAVdVoTBVL4I+y1eqOE045K70B0LpGnGhafnwDvZDnNpEiqoqJ/6JfMDMetW+g5OkYHdUa9r4x46ib6rtwB5VJ4DuUTWKIJ7GNFMmYodV1+qQuuHu1hQOEwDMER97Iy81rUGKLWBMLNV7Fl+P08ztUz62StM5HeJ/1oqtVcp+hjitRPCodr1ui4b/RIKfPoD5wmSLkmpeRn9E6Iq09wbcHlNM+9JWsWIg1uhMNZmbL3axuHlDGbUGF5JmISeIiR+3QteODdDKkQT3UcqYGpj0/yTNfpYzrr4EY8fX4as1vrCNYXXUV6wDbDQRKfBYpC8bDh/t5srD99e2UEvoU2Vxc6J99OjObeRv1qOyF+h2CS005mlvqThltt94L7k+2O66MA5pBjr4bm9GMlP+5+3pXbTWEkTZU5ETXqltnoKKLjBINjZa7O6/JWWjeN2kphcdRiaNSPpdt8eI41GjuXeDy5K067xM0KUmB0fcw8B9uY9kEMMM4w4EKkxgtJtFlogYqvFNq+jK3S2VqjwQ0oulFg31O0AygfDExEeLyhgGZfGYXqKWspgAkdSucdVt1Wy/3YENBhSjZaH2MzzCc3D8dsNjLS4XjLOWgy/362hTvGvSSa8bwO4HeTHuBJE9UOuO6SacQ5L17Jd61cTSGPfHkNiznpmf0LJ7Lagry7GIwPokqjC2+1Yk1owhr+IaF31bA3GCokvqwW4EXiDPtDXD3J9rFKFki9yRJFyqoEV/BS1VhtdsVyTCi9DL8vOOOMal/1/Rln1PAB//twviznQSDwPDto+Ktf0aB6dJD7Crld5em5Qs1c3neXZ3sWJBqlLr30YlR4vHDFJZ/YMKXo9O1nIuu1Z8NH/DxPDdNWN3G31eyv9fIMbWGPHhtJsPXxkZ6sSWs2WJOyJOYCGH/OKjGBGSSOcAvJKDLE1QqDSwcmSeETFxFCuJ4c87aL7FoqZ6CheWqHns3keBxR19faRVqRvb+fT+nqtzjBm7wFoIbDB27bqEj/jfv378DxwGCaSKkmOhPc1T/jH/7+z43g50n4c+dZDD8XN0Q0fvUIJ0ncyCMDqOE/wMmJtDO2049S524gxU8aN6xobA/c8zW94GCHWHqLeKMYn022fJ404dHHCYmhf5LZukz/MzhDqfgvcUJGSzapy7gTGcEKZTiomt3O8mG1s2vtFdb/Sa6bFyEo43kKiAh+GTeqyvAeZjMVRTWLRVuwbe++RdSiZqrZth6mYEo+8CW0PFqTf1NiosEY6alnoyKjDIaEmPgqGj3l7L5U4Wq3vMWJidF+F83m8yXPrRsoflVCvP9rEvCinGRYl+3zwKtrc5fX22CfJkNbNNyluY8NYV1bNoS/85bFJHyUXWH07jr6sfvJrsO9zCtSOCZhPPb4H8G/w0NijDNJGsRL4yziyEhlbPzQqQQi2XI10iI6s7c6eIXEFJsVjV0q7r8oMcUZfastcY1geU9HCqcDZgj/QEUTO5arOmLpgslsTZSGJuNPkgRcP1hMqGJV8jGluYxA00Q+JXYKUTyuqx8PCsL7QaBeXOyq4OJIVfY334gik/iLKf117K+/8oRcB0DCX4rMU/vrDo6HEXklEgF808RFjSGTafEfmFeYYdYHzKEEPCnqe0VGYf83IyerRhlT/TNqORpiVnl+OhJsklZ6QMK0bfqINNeK18KZNXOP1uiEqa93fxk+i5+XMBWCTSFLBelIRT5Xw9Zoamb6jTKdrARes5VyUNri0S5vebnqMiU/KmP4d/lK5YiEclEKarj6P/K+Txo+lRenUk2euqxyXcbDgDJbDWKRIWWKbPGn2MEzqZ8Rn6deYKHr+X7he5APiRfbbilF6fMnE/F/kvf+Fa8VjtUFx/XAtCfW3ZrzRCVxXrO9bjAQFUzbTNe/DbpBdAXT9P3EPVbnvv8W/pGTypz07m5duhRNVbNu3ZR7Zy1bmI5kIFULfbKmPr25oU7I9C23b61AotmprZ7lxPTnlUy/db1tm1BBiu4w98zPecLJKih13lby4QL7bIaTEyp3q8iDNRYJ64bFLQnD0cOTfmqnhqksPSB6gJXFGiin7iw6/KVP7M7BUVT+53g1TuKlMCnqUz2K4C3WKrCjSG3Kh+yb3xHk8+9Mad/T1ntuysIiNDXwPT9GCSO2vPh8949FfIJtNX1Mvv32hpUcM1bbcaYWjS+boNVOKFGxzetW7igIz/dBF9m2LESXoNu2/L65Al6Ur37s+TGiPGxOY/HnfjlqSbklUD2pctTPc/NyPvslvOKT8vCtj5AaZPX6l8UTU7aGnXGiLfj9lqFaa9kxNQ7jxfz12ybacgRZCbn6rTMlHOI/1nMkqIsQNbrAWpOHCBp050XU6rIHLA/CRXDVktx6yEFWthyp8gsSURHKCvoiMFGTX9L9n/o/YjEcsEXiI/WRWyKcNasCKekRU1jCDXmJEgzCS4gcL97XRpy3dR/re4gvTOwpZXGs6cL3UxdDApK3xJqBpCMmK+QlfsJ/SRZ4rLQgM0tzCVdVQsxXLUvrHi3jPXuayXqpaQ5Lqa6uXZ4W1pSaOp/GltHS8cxxmiYws3SpCHrXhvhaw3TGvR1DJUEJldanJJ6YqKpH/li6DcamIfn5SBr17W3bpaIo2ny83DCNdZ1AFm1V/yX1ecNoQpt2ddRgJ9rR2lFkcjrr3sY87s2K6eKUXOzSzz9XeOCc17XTUlnbb75RMgL7cG9vvA8xjM0k3jaxkFWN5OaC2m5odTXiKyECUuSTn7v2x5pSsnwrpoFFtnRG7KLdwa023959p25pMi2HPS9+s09idA8vOU2+KT1ImPKtLaAJYU+NtNREVLqiCpi0JdHrA3bJBmJsAWRApWm+0eaHF0Y1BdgW1W+6pBAMnQrcP8RnuCMk/xT8odOBLUO8A05ew2M2h/LYOzcNBkfIlZDho0cTpiT20hlRqiZrIMRhKLppwzovY+sxW2enDdvkYwuz+Ww6i334gJ31ZNs/fDXaHLdWVfG+hWKLxFxpsRaxWWIJfgeWOEAkgPyrl1qFVv5Tu7xKRaZ8sirMuWZUPLmhPVtn3En0eRpHGz2vHqgePxoks633cQ4Hb/LgAGCMIPdJeBDXhjud+HG8bWjbChwAxOU6HjcSSfqcPtUuNAq7rl2kz6eHkJFwrcddtXvrjF1C++2HYWSUOIoMu3WrS2gQ2d1iB5GH5yAmqSY9G/rrs1gh7ITpHR4PdhGmiFiQbjBmybO8vbU+zbxKxjHozZwT9ndYXyOcIRQVFtKfuSCk0Soxic1kpDiSNL+zcrR3QSKm8i5NfuY2gtNMvP53XZRObW+ojb2AchmcEu7U1tYcSjsH2gkKqRVaCOnwPnI4tz73YvJW8n0oKYWbL8Sxkzr50/YyDadyG3SyjnDRsDJzsjq58KLZcBHX0eYkp9MFWiPvRXIgu0KXW1+RDlvL7sh0IPLGd3Mqj7C9vr5LaFl9/At/yH64wNAz0k3f5W/Xqxk0leqXBg2j9tRvwZHWNXzvhuitFKrMs864rKt1xNOnmpz5od58IiPjCZ8n5be2PmeGgNnWTvz33/KvIT1qC/fjx/kb2oTuLVHp0In/9nt+J3T+9n8dtwd7+BATsvcAYIwge5gbwrHJpBRCGsAibhRbwIzchhCQSpLoRTjAs76h0dzYEGo/1kMvglHYv1TVMYGRSEnkSLIXD714CutJqViqbezwUMHeECRDPDTp1HP44OLhTQaDCsd1NTeNOEfajX/mfSNTc1MWGjYVoPV16GK0oL6+ADX77Hq0QD/j0U2XOzdh5kTbPrqJz1zXeRqiGxaQUlALXT3Q4xKqQSoYzVWDBMA9UM0dfQSgnAv155zALf8AIwFTIOquTRyAQ6ij4KUAWMdvvP1N0v8EtQP5u3CiwH2YOPNTTWaKj8H1RrUhUWs85KMnPcnIIDRZhQNBdM5KRpENDWyf4P7JQTfhd5HPt1q+8Hf2jtatoIthKS9HmbqDbtH95p63SEzyvr4QUt16bmfAGtqWtazjwhpVwbpwfWDKRi/cpIpWTU9LOc0QPn97UoYe8j/65NZTbUQ3VSYtqN9Vdu503tXle2fVhM6WpkqTQvODbfBvajVyupVpnVNIt9FVbjENvZKmolXSK9To6raTe7bW9jJgFE1DbIRQJePVjQneynRevkkczg5vlaJdapR27bZL21tFvwi63iy7asrdbI/sF9OjFkRJpALjSv3dPnZQIP4y0Dypn42DxLkF3Uchto/7ig8dq3tX0K4T+JhFtCrNaVR7ZFe8bi2H7PvrtkA2jq5TdczLE/PZ7am+CzJ8LT+IW7Ih6FyyDqmqQnVojho6xLkqB9VdthOXMdpg0AWZb3dSt69MeIE52Ij9/P7huPvOCfev9J87IraglIhh0uEalgbXmXwpEWKBibOt87RxI8oYkENnjSgoV7SDpShRsCy6p1OUBk+ZpNCq18RnSXJLh8exsIOCXt48+U3DX6m5VG6q3G7/3cxe6vP2yZsqztEPcabePMHsQQ8T2l4cSZ4YFXgqiqNvy2ZUvSt3LofmSaga+/ao+cqYH21RvCQj9TFKmfcoR/RA3b26gWgHBNycOZg82CK49z3h5CXL6eRfHawceTBryMlfPifv/S27sZRysJyDTpYj4w41TJUuqcvLGoYtnQrCxVVQjqhC0QFEHkrBdREKm4XI68Uz7HUWoHtL6CRcNgWavG7qr3Syeln0AHstcTu4efyKTyjHNKFv7ctwE+SJL1JAJMwfHX5Kgi5xzdOGRo4gR1L1e3am7erM3r6+MX3c0P/19g4+3JxQbF0fMVegb2wUyASqgLu9YJEadcCj6dxjv1guyh7tS/+G/kFHtGOTc0+jcziTlQ6aI7S3QMNOOl7b0Tb0y9eFa9G8aqt+dketH5l6a3Ueqkerq8FezbXVTg3Y9oAs1z+aFb3nTqKgBlj3WAP/Lih4lzLhZP+DipfLTrCd5RiLaZ3Ws0TBlCD473y2E1dbAdzWMhN7DLi7sZhJCQCA2VEn4K6uhCZZ1aU/EYA9iO4HWR8MWssIlg/ryrB5b2nwRu7XfZd+woZda8UPWwHK/SzuVpEVl2QUAMBc6KeiKhLciQOWnGR/j46Q2F/hNcjuxFZX2XXZvVBy4JSyNAh4ISQJneUFRuleUrkTHBy8i+/I/9IzGZzob4zJU9N+ZZb958+ed7/rxwizD2LfvQbgn2tkYvnfdTgtJKOk2qnnWo8oH2Q3zsDHg2dJC0mugY24XWQV35s5n97tJn2sWHknXbQKkkDXRzgAHBcFAPZtD4Abrvd5cIiteRNjjzID8lpEgQEiEQMmhAh4RSbSgAPRIh2YECOyIcyMuTngqRQwQHAWAIyz9k1EQOC0iAIPvhAxEOgT8MqASAMfwyIdBAVMZEMW4rlIDowqLEfnP4E3xHG1HylwTdln54+H/sLUsxd/D7rmH0Rpz/juD4ZHv1EhZUyhm+nDLI1JuIxfbx8MOfPYhH8Q7GU2a5+vgbGkNl4Cl4Pzn8Ab4rjae1tS4Jpe3s4j3/0vTD17yTjucct/EKULH99f3giEb1aJjstKVDfThzlmGl1XuHxqXwsT+TbEY0tu9INgL3MBt32+OmdLpOyleq20O1b7Tnhd7hAvRDoZZJJFNjnkkkc+gZgCUiQsxwuiJCuqphumZTvE9fwgjOIkzfKirOpGHG/G1kulOh17XQ9UGosttYcA1d+TRgzNrbw4kx3SMoy4Lkl7PxYEuS9Sz9lpEKDeRd7WzD46w+GTecPQa+IcbwQKc82rblmiXvZ2mDpRhj4jI5hw8VMtf/bgQu4W5gVq4Ah5TGuLgs+u+DBThexvm/COCtne6ZYIWz7XmZK5deXVbfIBThB4qsSueSaohs4fH+eGahIviE5RlWUQWJe6CL7nUgcefCdGBdeO6YxFHw3r3pZ87XeCSDZgp6TBiwnmYoEkz3lltyGlVcag8BLmJbMB1OjlVPBDhogMwyJH1rGP8Txx6OpKa3ieSOB89lJOPc/JjNwe0lzjAhF6yuonFFS7K1zJWDTAXQjuB3mK3rzrfE2czXCBw7qRncz48Yj/ndpXjik8oHslXiLnvfchcM/hv1fzRmoKOPnzXkkPAAAAAA==') format('woff2'),
  url('iconfont.woff?t=1607579344021') format('woff'),
  url('iconfont.ttf?t=1607579344021') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1607579344021#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-warning:before {
  content: "\e609";
}

.icon-ask:before {
  content: "\e601";
}

.icon-import:before {
  content: "\e64e";
}

.icon-success2:before {
  content: "\e63d";
}

.icon-step-bar-completion:before {
  content: "\e63e";
}

.icon-warning2:before {
  content: "\e63f";
}

.icon-success:before {
  content: "\e640";
}

.icon-full-screen:before {
  content: "\e641";
}

.icon-download-template:before {
  content: "\e642";
}

.icon-unfold:before {
  content: "\e643";
}

.icon-reset-passwords:before {
  content: "\e644";
}

.icon-upload-files:before {
  content: "\e645";
}

.icon-electromagnetic-clutch:before {
  content: "\e646";
}

.icon-encoder:before {
  content: "\e647";
}

.icon-electrical-machinery:before {
  content: "\e648";
}

.icon-proximity-switch:before {
  content: "\e649";
}

.icon-shift-knob:before {
  content: "\e64a";
}

.icon-face-recognition:before {
  content: "\e64b";
}

.icon-read-head:before {
  content: "\e64c";
}

.icon-infrared-sensor:before {
  content: "\e64d";
}

.icon-return:before {
  content: "\e639";
}

.icon-caution:before {
  content: "\e63a";
}

.icon-screen:before {
  content: "\e63b";
}

.icon-time:before {
  content: "\e63c";
}

.icon-time-to-backup:before {
  content: "\e637";
}

.icon-download:before {
  content: "\e638";
}

.icon-edit:before {
  content: "\e62b";
}

.icon-export:before {
  content: "\e62c";
}

.icon-get-down-to:before {
  content: "\e62d";
}

.icon-no-visible:before {
  content: "\e62e";
}

.icon-search:before {
  content: "\e62f";
}

.icon-calendar:before {
  content: "\e630";
}

.icon-reset:before {
  content: "\e631";
}

.icon-delete:before {
  content: "\e632";
}

.icon-visible:before {
  content: "\e633";
}

.icon-add:before {
  content: "\e636";
}

.icon-focus-edit:before {
  content: "\e634";
}

.icon-fire-alarm:before {
  content: "\e635";
}

.icon-alarm:before {
  content: "\e621";
}

.icon-help:before {
  content: "\e622";
}

.icon-customer-management:before {
  content: "\e623";
}

.icon-monitoring-center:before {
  content: "\e624";
}

.icon-data-from-the-cockpit:before {
  content: "\e625";
}

.icon-home:before {
  content: "\e626";
}

.icon-equipment-management:before {
  content: "\e627";
}

.icon-system-management:before {
  content: "\e628";
}

.icon-account-management:before {
  content: "\e629";
}

.icon-statistic-analysis:before {
  content: "\e62a";
}

